<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ClipboardPpAndroidApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FloatingSyncActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:taskAffinity="com.clipboardplusplus.androidapi.sync"
            android:theme="@style/ClipboardPpFloatingSyncTheme" />

        <service
            android:name=".FloatingSyncService"
            android:exported="false" />

        <service
            android:name=".ClipboardPpAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/clipboardpp_accessibility" />
        </service>

        <service
            android:name=".ClipboardPpImeService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/clipboardpp_ime" />
        </service>
    </application>
</manifest>
